@{
    ViewBag.Title = "Template manager";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

        </div>
    </section>
}
<h3><div style="color:white; ">DODAVANJE PREDLOŠKA U 3 KORAKA</div></h3>
<ol class="round">

    <li class="one">
        <div style="width:300px; "><img src="~/Images/UPUTE.jpg" /></div>
    </li>
    <li class="two">
        <img src="~/Images/ODABIR.jpg" />
    </li>

    <li class="three">
        <img src="~/Images/parametri.jpg" />
    </li>
</ol>


@section scripts{

}