<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Q41.DocumentService.TemplateManager-20171108094054;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Q41.DocumentService.TemplateManager-20171108094054.mdf" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TemplateManagerContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=TemplateManagerContext-20171108112429; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|TemplateManagerContext-20171108112429.mdf" providerName="System.Data.SqlClient"/>-->
    <add name="DocumentServisEntities" connectionString="metadata=res://*/Models.DocumentServis.csdl|res://*/Models.DocumentServis.ssdl|res://*/Models.DocumentServis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=R3420\SQLDEV2012;initial catalog=Q88DocumentServisLocal;persist security info=True;user id=eUsmjeravanje_app;password=razv2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Q88DocumentServiceTestEntities" connectionString="metadata=res://*/Models.DokumentServis.csdl|res://*/Models.DokumentServis.ssdl|res://*/Models.DokumentServis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=R3420\SQLDEV2014;initial catalog=Q88DocumentServiceTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="DocumentService" connectionString="Data Source=msqlctpx01dw.test.gzaop.local;initial catalog=Q88DocumentService;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework;User ID=Q88DocumentService_app;Password=q88testni"/>
    <add name="P28eDozvolaZG" connectionString="data source=msqlctx01dw.test.gzaop.local;initial catalog=P28eDozvolaZG;User ID=Q88DocumentService_app;Pwd=q88testni" providerName="System.Data.SqlClient"/>-->
    <add name="P28eDozvolaZGTest" connectionString="data source=R3420\SQLDEV2014;initial catalog=P28eDozvolaZG;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="DokumentServisTest" connectionString="data source=R3420\SQLDEV2014;initial catalog=Q88DocumentServiceTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
    <!--<add name="DokumentServisTest" connectionString="data source=LENOVO_W10\SQLDEV2014;initial catalog=Q88DocumentServiceTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>--> 
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--<add key="putanjaPredloska" value="\\fs01dw.razvoj.gzaop.local\q88.documentService\Predlosci"/>
    <add key="putanjaPredloskaPrivremena" value="D:\Predlosci"/>-->
    <add key="putanjaPredloska" value="D:\predlosci_old"/>
    <add key="putanjaPredloskaPrivremena" value="D:\predlosci_old"/>    
    
    <add key="defaultStora" value="TempSP_ZaPredloske"/>    
    <add key="defaultBaza" value="SqlServer"/>   <!-- DB2zOS = 1, Oracle = 2, SqlServer = 3, Nepoznato = 4 -->
    <add key="defaultRepozitorij" value="eDozvoleZGtest"/>  <!-- FROM [Q88DocumentServiceTest].[dbo].[ConnectionStrings] -->     
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
    <!--<httpRuntime requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,:,\,?" />-->
    <!--<httpRuntime requestPathInvalidCharacters="" />-->
    <!--<pages validateRequest="false" />-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\\App_Data\\Log4Net.Logs"/>
      <datePattern value="_yyyy-MM-dd'.log'"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10240KB"/>
      <maxSizeRollBackups value="2"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
</configuration>